<h1 class="text-center" style="text-decoration:underline; text-decoration-color:#0000000;">どんなサイト？</h1>
<h4 class="text-center">海外ドラマの撮影地をまとめたものです。<br>
皆さんで聖地巡りを楽しみませんか？<br>
</h4>
<p class="text-center">
※海外ドラマの撮影地のコミュニティーサイトになります。<br>
ユーザーでない方も聖地の閲覧はできますが、<br>
投稿には会員登録が必要になります。</p>

<%= image_tag 'top.jpg', alt: 'Find sanctuary', class: 'img-fluid' %>
