<h1>Bienvenido,aventura</h1>

<!-- 再生プレイヤー -->
<%#= audio_tag '1224788_sunset-in-the-gardens-of-spain_preview.mp3' %>

<!-- audiojsの初期化 -->
<script>
    const audioPlayer = audiojs.createAll();
</script>