<h1>ユーザー詳細・編集</h1>

 <div class="row mb-3">
  <div class="col-md-3">
   投稿者
  </div>
  <div class="col-md-9">
   <%= @user.name %>
  </div>
 </div>

 <div class="row mb-3">
  <div class="col-md-3">
   sns
  </div>
  <div class="col-md-9">
   <%= @user.sns %>
  </div>
 </div>

 <div class="row mb-3">
  <div class="col-md-3">
   自己紹介
  </div>
  <div class="col-md-9">
   <%= simple_format(@user.introduction) %>
  </div>
 </div>

 <div class="row mb-3">
  <div class="col-md-3">
   ステータス
  </div>
  <div class="col-md-9">
   <% unless @user.is_deleted %>
    有効
   <% else %>
    無効
   <% end %>
  </div>
 </div>
